*{
	-fx-theme-font-color: #ccebff;
	-fx-theme-border-color: #444444;
	-fx-theme-inner-color: #333333;
	-fx-theme-outer-color: #222222;
	-fx-focus-color: -fx-theme-font-color;
	-fx-accent: -fx-theme-font-color; 
}

.background {
    -fx-background-color: #1d1d1d;
}

.smallTitle{
    -fx-fill: -fx-theme-font-color;
    
}

.mediumTitle{
    -fx-fill: -fx-theme-font-color;
}

.infoText{
    -fx-fill: white;
}

.imageViewPane{
    -fx-border-color: #444444;
    -fx-background-color: #111111
}

.infoBox{
    -fx-border-color: #444444
}


/*------------------------------ */
/* COMBO BOX SETTINGS */
/*------------------------------ */
.combo-box{
	-fx-background-color: -fx-theme-inner-color;
}
.combo-box:hover, .combo-box:focused, .text-field:hover, .text-area:hover{
	-fx-border-width: 0.5px;
	-fx-border-color: -fx-theme-font-color;
}

.combo-box-popup .list-view .list-cell {
    -fx-background: #ff0000;
    -fx-background-color: -fx-theme-outer-color, -fx-theme-outer-color;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background: #ff0000;
    -fx-background-color: -fx-theme-inner-color;
    -fx-text-fill: -fx-theme-font-color;
}
.combo-box .list-cell
 {
    -fx-font-size: 13px;
    -fx-text-fill: #dddddd; 
 }
.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: -fx-theme-font-color, -fx-theme-inner-color;
    -fx-fill: red;
}

.combo-box-base:showing 
{
    -fx-color: -fx-theme-outer-color; /* The border around the list of values */
}

/*------------------------------ */
/*------------------------------ */





/*------------------------------ */
/* BUTTON SETTINGS */
/*------------------------------ */

.button, .button:focused{
	-fx-background-color: -fx-theme-border-color, -fx-theme-border-color, -fx-theme-outer-color, -fx-theme-inner-color;
	-fx-text-fill: -fx-theme-font-color;
}
.button:hover{
	-fx-background-color: -fx-theme-font-color, -fx-theme-font-color, -fx-theme-outer-color, -fx-theme-inner-color;
	-fx-text-fill: -fx-theme-font-color;
}

.button:focused{
    -fx-color: -fx-theme-inner-color;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

/* 
.iconButton .button {
-fx-background-color: transparent;
}
.iconButton .button:hover {
-fx-background-color: #999999, #777777, #666666, #555555;
-fx-color: -fx-hover-base;
}
*/

/*------------------------------ */
/*------------------------------ */



.radio-button{
    -fx-text-fill: -fx-theme-font-color;
}

.radio-button .dot {
  -fx-mark-highlight-color: black ;
  -fx-mark-color: black ;
}